@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    background-image: url('./taylor-van-riper-yQorCngxzwI-unsplash.jpg');
    text-align: center;
    text-shadow: 2px 2px 4px #000000 ;
}